## Handling Imbalanced Dataset

1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np 
import pandas as pd

In [ ]:
# Set the random seed for reproducibility
np.random.seed(123)

# Create a DataFrame with missing values
n_samples = 1000
class_0_ratio=0.9
n_class_0 = int(n_samples * class_0_ratio) ## 0 Values
n_class_1 = n_samples - n_class_0  ## 1 Values

In [4]:
n_class_0,n_class_1

(900, 100)

In [5]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=2, size=n_class_0),
    'target': [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=2, size=n_class_1),
    'target': [1] * n_class_1
})

In [8]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [9]:
df.head()

   feature_1  feature_2  target
0  -1.085631   1.102604       0
1   0.997345   0.839178       0
2   0.282978   3.631304       0
3  -1.506295  -0.505501       0
4  -0.578600  -0.584008       0

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Upsampling

In [11]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [12]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority, 
                                 replace=True,     # sample with replacement
                                 n_samples=len(df_majority),    # to match majority class
                                 random_state=123) # reproducible results

In [13]:
df_minority_upsampled.shape

(900, 3)

In [15]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [16]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Downsampling

In [17]:
import numpy as np 
import pandas as pd 

# Set the random seed for reproducibility
np.random.seed(123)

# Create a DataFrame with missing values
n_samples = 1000
class_0_ratio=0.9
n_class_0 = int(n_samples * class_0_ratio) ## 0 Values
n_class_1 = n_samples - n_class_0  ## 1 Values

## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=2, size=n_class_0),
    'target': [0] * n_class_0
})
class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=2, size=n_class_1),
    'target': [1] * n_class_1
})

df=pd.concat([class_0,class_1]).reset_index(drop=True)

df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [18]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [19]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority, 
                                 replace=False, 
                                 n_samples=len(df_minority),   
                                 random_state=123)

In [20]:
df_majority_downsampled.shape

(100, 3)

In [22]:
df_downsampled=pd.concat([df_majority_downsampled,df_minority])

In [23]:
df_downsampled.target.value_counts()

target
0    100
1    100
Name: count, dtype: int64