## Label/Ordinal Encoding

In [2]:
import pandas as pd

In [3]:
## Create a sample dataframe
df=pd.DataFrame({
    'Color':['Red','Blue','Green','Blue','Red','Green','Red']
})

In [4]:
df.head()

   Color
0    Red
1   Blue
2  Green
3   Blue
4    Red

In [5]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()

In [7]:
lbl_encoder.fit_transform(df['Color'])

array([2, 0, 1, 0, 2, 1, 2])

In [8]:
lbl_encoder.transform(['Green','Red','Blue'])

array([1, 2, 0])

## Ordinal Encoding

In [9]:
from sklearn.preprocessing import OrdinalEncoder

In [10]:
## create a dataframe with an ordinal feature
df=pd.DataFrame({
    'Size':['Small','Medium','Large','Medium','Small','Large','Large']
})

In [11]:
df

     Size
0   Small
1  Medium
2   Large
3  Medium
4   Small
5   Large
6   Large

In [12]:
## crate an instance of OrdinalEncoder and then fit_transform
ord_encoder=OrdinalEncoder(categories=[['Small','Medium','Large']])

In [14]:
ord_encoder.fit_transform(df[['Size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.],
       [2.]])

In [18]:
ord_encoder.transform([['Medium'],['Large'],['Small']])

c:\Users\Admin\anaconda3\envs\condaenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[1.],
       [2.],
       [0.]])